{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!--Message Flashing-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h1>{{name}}</h1>
{% if reviews %}
<ul>
    {% for review in reviews %}
        <li><strong><a href="{{url_for('reviews.show_user_contributions', user_id=review[4])}}">{{review[1]}}</a></strong> - {{review[2]}} - {{review[3]}} </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}